<ion-header collapse="condense">
  <ion-toolbar>
    <ion-card routerLink="/home">
    <img class ="logo" src="assets/banner.jpg">
    </ion-card>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <style>
      .hid {
        text-align: center;
      }
    </style>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <h4>OFFICE HOURS</h4>
<hr class="line">
  <p>Basilica of Immaculate Conception</p>

  <br>

<h6>Monday</h6>
<p class="t">08:00 AM - 11:30 AM</p>
<p class="t">01:00 PM - 04:30 PM</p>

<br>

<h6>Tuesday</h6>
<p class="t">08:00 AM - 11:30 AM</p>
<p class="t">01:00 PM - 04:30 PM</p>

<br>

<h6>Wednesday</h6>
  <p class="t">08:00 AM - 11:30 AM</p>
  <p class="t">02:00 PM - 04:30 PM</p>

  <br>

<h6>Thursday</h6>
<p class="t">08:00 AM - 11:30 AM</p>
<p class="t">01:00 PM - 04:30 PM</p>

<br>

<h6>Friday</h6>
<p class="t">08:00 AM - 11:30 AM</p>
<p class="t">01:00 PM - 04:30 PM</p>

<br>

<h6>Saturday</h6>
<p class="t">08:00 AM - 11:30 AM</p>
<p class="t">01:00 PM - 04:30 PM</p>

<br>

<h6>Sunday</h6>
  <p class="t">08:00 AM - 11:30 AM</p>

  <hr class="line">

  <p>*For Office Schedule</p>
  <p>*For Confessions, Please head on this</p>

  <hr class="line">
  <img src="/assets/logo.png">

  <br>
  <p class = "contact">you may contact us at:</p>
  <p class = "number">(043) 723-1484</p>
  <p class = "number">0905-207-0035</p>
  <p class = "number">0922-429-6679</p>

  <ion-icon name="logo-facebook" class="facebook"> </ion-icon>
  <a class="link" href="https://www.facebook.com/BasilicaBatangasCity/">Basilica Of Immaculate Conception Batangas City</a>
  <br>
</ion-content>