<ion-header collapse="condense">
  <ion-toolbar>
    <ion-card routerLink="/home">
    <img class ="logo" src="assets/banner.jpg">
    </ion-card>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <style>
      .hid {
        text-align: center;
      }
    </style>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

<h4>
  Baptismal
</h4>

<hr class="line">

<h6>Guidelines | Requirements</h6>

<hr class="line">

<h4>
  Requirements
</h4>
<br>
<p>1. BIRTH CERTIFICATE of child, from municipality</p>
<p>2. For the Parents or Guardians, MARRAGE CONTRACT (if maried in catholic church) or BAPTISMAL CONFIORMATION CERTIFICATE. </p>
<P>3. For the God Father and God Mother, MARRACE CONTRACT or BAPTISMAL CONFIRMATION CERTIFICATE.</P>
<P>4. SEMINAR CARD, proof of Parents or Guardian and God Parents.</P>
<p>5. PERMIT (ORIGINAL COPY), from the Parish of IMMACULATE CONCEPTION.</p>
<P>* for the child above 7 years old, communicate to Parish Office for the other Requirements.</P>
<br>
<br>
<img src="/assets/logo.jpg">

</ion-content>