<ion-header collapse="condense">
  <ion-toolbar>
    <ion-card routerLink="/home">
    <img class ="logo" src="assets/banner.jpg">
    </ion-card>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <style>
      .hid {
        text-align: center;
      }
    </style>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="steps">
  <h3>Steps In Reserve Your Wedding Schedule at Immaculate Conception</h3>
  <h2>Step 1</h2>
  <br>
  <h6>request reservation online</h6>
  <p>Request Reservation though Appointment page</p>
  <ion-button routerLink="/wedding">Reservation Calendar</ion-button>
  <hr class="line">
  <h2>Step 2</h2>
  <h3>Fill-out forms</h3>
  <li>Download the form below, print and fill-out</li>
  <li>Couple's sheet Info Sheet</li>
  <li>Suppliers</li>
  <li>Checklist</li>
  <li>Massalete</li>
  <li>List of Prinsipal Sponsor</li>
  <li>List of Songs</li>
  <hr class="line">
  <h3>Step 3</h3>
  <h6>visits</h6>
  <p>visits the parish to submit the accomplish forms and settle the reservation fee</p>
  <hr class="line">
  <h3>Step 4</h3>
  <h6>book</h6>
  <p>Book an Appointment with Ms. Russel for nuptial ceremony via the button below</p>
</div>
    <hr class="line">
    <img class="lb" src="/assets/logo.png">


</ion-content>