<ion-header collapse="condense">
  <ion-toolbar>
    <ion-card routerLink="/home">
    <img class ="logo" src="assets/banner.jpg">
    </ion-card>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <style>
      .hid {
        text-align: center;
      }
    </style>
  </ion-toolbar>
</ion-header>
  
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Welcome, Admin!</ion-card-subtitle>
        <ion-card-title>Manage reservations and scheduling for events</ion-card-title>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Upcoming Weddings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <h3>Jorpets Wedding</h3>
              <p>Date: August 15, 2023</p>
              <p>Time: 2:00 PM</p>
              <p>Location: Church Hall</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h3>Chinchan su Wedding</h3>
              <p>Date: September 10, 2023</p>
              <p>Time: 3:30 PM</p>
              <p>Location: Garden Venue</p>
            </ion-label>
          </ion-item>
  
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Upcoming Mass Donation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <h3>Magdododnate ako Event</h3>
              <p>Date: July 25, 2023</p>
              <p>Time: 10:00 AM</p>
              <p>Location: Dito Center</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h3>Fun Takbo</h3>
              <p>Date: August 5, 2023</p>
              <p>Time: 11:30 AM</p>
              <p>Location: Court na magabok</p>
            </ion-label>
          </ion-item>
         
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Upcoming Baptismal</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <h3>Ikaw Masamang tao Baptism</h3>
              <p>Date: July 30, 2023</p>
              <p>Time: 1:00 PM</p>
              <p>Location: Church</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h3>Kainte Baptism</h3>
              <p>Date: August 20, 2023</p>
              <p>Time: 2:30 PM</p>
              <p>Location: Church Hall</p>
            </ion-label>
          </ion-item>
  
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
